@charset "utf-8";

header {
    width: 100%;
    /* background-color: aliceblue; */
    height: 100%;
    /* min-height: min-content; */
}
ul {
    list-style: none; /*убираем маркеры списка*/
    margin: none; /*убираем отступы*/
    padding-left: right; /*убираем отступы*/
    margin-left:68.7% ;
    margin-top: 41px; /*делаем отступ сверху*/
}
li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
    font-size: 1em;
    line-height: 135%;
    margin-right:44px; /*Добавляем отступ у пунктов меню*/
    left: calc(50% - 3.97px/2 + 24.88px);
    top: 41.08px;
    font-family: 'Lato', sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 16;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #171717;
}
.color{
    color: aliceblue;
}
.img{
    margin-left:-290.7% ;
    margin-top: -4%;
    width:192.83px;
    height:67.63px;
}