
@charset "utf-8";
.s5 {
    color: black;
    margin-top: 4%;
    margin-left: 6%;

}
.s5 h2{
color: black;
width: 30%;
font: bold 64px "Cairo", Sans-Serif;
padding: 4px;
margin-top: auto;
line-height: 64px;
margin-left: 2.8%;

}
.s5 p{
    color: black;
    width: 48%;
    font:  28px "Cairo", Sans-Serif;
    padding: 8px;
    margin-left: 40%;
    margin-top: -7%;
    line-height: 28px;
    margin-bottom: 7%;
    /* margin-top: -60px; */
}

/* .border{
    position: relative;
    margin-top: -60%;
    width: 200px;
    height: 300px;
    border: 65px;
    background-color: rgb(104, 31, 31);
    border-color: rgb(0, 0, 0);
} */
 .s5 img{
        display: inline-block;
        margin-left:-4.5%;
        position: relative;
        margin-bottom: 6%;
        /* margin-right: 100px; */
        /* height: 30px;  */
}
.thumb div  {
    border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
    padding: 15px; /* Расстояние от картинки до рамки */
    background: #666; /* Цвет фона */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
   }